/*
Colors:
    Dominant : #008264
    Secondary : #ffb71b
    Accent : #E35336
*/
body {
    background-color: #008264;
    padding-top: 40px;
    color: white;
}

.navigation-bar{
    position: fixed;
    background-color: #ffb71b;
    width: 100%;
    height: fit-content;
    display: flex;
    overflow: hidden;
    top: 0;
    left: 0;
}

.navigation-bar a{
    background-color: #ffb71b;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    float: left;
}

.navigation-bar a:hover{
    color: #ffb71b;
    background-color: #fff;
}

.page-content{
    color: white;
}

.ppbutton{
    background-color: #ffb71b;
}

.ppbutton a{
    text-decoration: none;
    color: white;
    font-size: large;
    display: block;
    padding: 10px;
}

.ppbutton:hover{
    background-color: white;
}

.ppbutton:hover a{
    color: #ffb71b;
}